.button{
    background-color: #463d3c; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
	display: inline-block;
	position: relative;
    font-size: 16px;
	cursor: pointer;
	border-radius:2em;
}
.img-circle{
	width:200px;
	height: 200px;
}
.paragraph{
    color: white;
}
/* added topmenu css */
.button_well{
    height: 100px;
    width: 200px;
    margin-top: 10px;
    margin-left:10px;
    background-color: rgb(233, 227, 227);
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #38397c;
  }

  .button_well :hover{
    height: 100px;
    width: 200px;
    margin-top: 10px;
    margin-left:10px;
    background-color: rgb(209, 202, 202);
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color:black;
  }
 
  /* register page css */
.formcard{
    /* background-color:rgba(130, 151, 172, 0.336); */
    /* background-image: url( ../img/salon.jpg); */
    background-color: whitesmoke;
     color:rgb(39, 37, 37); 
     font-size:x-large; 
     font-weight: bolder;
      margin:20px; 
      max-width:500px;
      margin-bottom:30px;
      margin-top:20px;
      margin-left:300px;
      padding-top:50px;
      padding-bottom: 50px;
      border-radius: 20px;
}
.container_home{
    background-image: url( ../img/salon.jpg);
    background-repeat: repeat-y;
}
.form-group-register{
   margin-left: 30px;
    font-family: -webkit-pictograph;
}

.register_top{
    max-width:500px;
    /* background-color:rgb(233, 230, 230); */
    text-align: center;
    font-family:-webkit-pictograph;
    font-size: large;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
}
.rightfloat{
    max-width: 300px;
    float:right;
}
.pagecontainer-reg{
        /* The image used */
  background-image: url("../img/salon.jpg");

  /* Control the height of the image */
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* custom admin nav bar css */
.custom-nav{
    color: #38397c !important;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    height: 100px;
}

.custom-nav .a{
    color: inherit !important;  
}

.text-theme-one{
    color: #38397c !important;
    font-size: 20px;
}


/* login page*/
.formcard_login{
     /* background-color:rgba(130, 151, 172, 0.336);  */
    background-color: whitesmoke;
    color:rgb(39, 37, 37); 
    font-weight: 600; 
     font-size:large; 
     margin:20px; 
     max-width:500px;
     min-height: 300px;
     margin-bottom:70px;
     margin-right:30px;
     margin-top:20px;
     padding-top:40px;
     padding-bottom: 40px;
      border-radius: 20px; 
}
.form-group-login{
    margin-left: 20px;
   
    margin-right: 20px;
    padding-top:40px;
    font-family: -webkit-pictograph;
}
.login{
    text-align: center;
    font-family: -webkit-pictograph;
    margin-top:0px;
}
.btn-login{
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.btn-login:hover {
    opacity: 1;
  }
.bg-img{
     /* The image used */
  background-image: url("../img/salon.jpg");

  /* Control the height of the image */
  min-height: 380px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


/* home page css*/
.header_nav a{
    font-family: -webkit-pictograph;
    color:white;
    font-size: 10px;
}
.navbar-nav a{
    font-family: -webkit-pictograph;
    color:blue;
    font-size: large;
}


/* gallery css */
.row_gallery{
        display: flex;
        flex-wrap: wrap;
        padding: 0 4px;
}
.column-gallery{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}
.column-gallery img{
    margin-top: 8px;
  vertical-align: middle;
}
@media screen and (max-width: 600px) {
    .column-gallery {
      flex: 100%;
      max-width: 100%;
    }
  }
.container-gallery{
    position: relative;
    width: 100%;
    /* max-width: 300px; */
}  
.overlay{
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}
.container-gallery:hover .overlay {
    opacity: 1;
}  
/* service page */

.container-service{
    width: 800px;
    height: 800px;
}
.container-service img{
    width:300px;
    height:300px;
}

